# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -3
UseTab: Never
ColumnLimit: 88
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
IncludeBlocks: Regroup
IndentAccessModifiers: false
PackConstructorInitializers: NextLine
AlignConsecutiveTableGenBreakingDAGArgColons: Consecutive
# InsertTrailingCommas: Wrapped
